<aside style="width: 95px; ">

  <div style="background-color: red;">
    <img src="../assets/img/elements/22.png" height="45px" width="50px" alt="img" srcset=""
      style="margin-left: 20px; margin-top: 10px; margin-bottom: 10px;">
  </div>
  <div style=" background-color: black; height: 630px;" class="pt-4 ps-3 ">

    <div class=" pt-2 ps-2 mb-3 d-flex menu" >
      <a  routerLink="dashbord"><img src="assets/img/elements/23.png" alt="img" width="30px" height="30px"
          >
      </a>
      <p class="parag">Home <i class='bx bx-chevron-right'></i></p>
    </div>
    <div class=" pt-2 ps-2 mb-3 d-flex menu" >
       <a routerLink="requests"><img
          src="assets/img/elements/24.png" alt="img" width="30px" height="35px" ></a>
          <p class="parag" >Requests<i class='bx bx-chevron-right'></i> </p>
        </div>
    <div class=" pt-2 ps-2 mb-3 d-flex menu">
      <a routerLink="sector"> <img
          src="assets/img/elements/25.png" alt="img" width="30px" height="30px" ></a>
          <p class="parag">Sectors<i class='bx bx-chevron-right'></i> </p>
        </div>
    <div class=" pt-2 ps-2 mb-3 d-flex menu">
       <a routerLink="doctor"><img
          src="assets/img/elements/26.png" alt="img" width="30px" height="30px" srcset=""></a>
          <p class="parag">Doctors<i class='bx bx-chevron-right'></i> </p>
        </div>
    <div class=" pt-2 ps-2 mb-3 d-flex menu">
      <a routerLink="hospital"><img
          src="assets/img/elements/27.png" alt="img" width="30px" height="30px" srcset=""></a>
          <p class="parag">Hospitals<i class='bx bx-chevron-right'></i> </p>
        </div>
  </div>


</aside>
