<header>
  <div class="bg-white" style="overflow: hidden">
    <div style="position: relative; left: 30%">
      <div class="fw-bold fs-1 d-flex">
        <div class="p-2 bd-highlight">
          <img src="assets/img/logo.png" alt="" />
        </div>
        <div class="p-2 bd-highlight">
          <p style="color: #534d4d">
            <b style="color: #c50b0b">Blood</b>Management
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
<div style="height: 4px; background-color: #c50b0b"></div>
<div style="background-image: url(assets/img/backgrounds/blood.jpg)">
  <br />
  <div
    class="col-6 center"
    style="border-radius: 0px; position: relative; left: 28%"
  >
    <div
      class="card mb-12"
      style="background-color: #474646d3; border-radius: 0px"
    >
      <div
        class="card-header fw-bold fs-1 text-white"
        style="position: relative; left: 30%"
      >
        <p class="mb-0">Sign in</p>
      </div>
      <div class="card-body mb-12">

        <!-- Form -->
        <form #loginForm="ngForm" (ngSubmit)="login()">
          <!-- 2 column grid layout with text inputs for the first and last names -->
          <div class="bg-white mb-2" style="height: 3px"></div>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <div class="input-group input-group-merge">
              <span class="input-group-text"
                ><i class="bx bx-envelope"></i
              ></span>
              <input
                type="email"
                id="form3Example4"
                class="form-control form-control-lg"
                placeholder="Enter your email address"
               [(ngModel)]="user.email"
                name="email"
              />
            </div>
          </div>
          <!-- Password input -->
          <div class="form-outline mb-4">
            <div class="input-group input-group-merge">
              <span class="input-group-text"><i class="bx bx-lock"></i></span>
              <input
                type="password"
                id="form3Example3"
                class="form-control form-control-lg"
                placeholder="Enter your password"
                [(ngModel)]="user.pwd"
                name="pwd"
              />
            </div>
          </div>
          <div class="mb-3">
            <a class="text-white fs-5" href="">Forget password? </a>
          </div>
          <!-- Submit button -->
          <div class="row m-0">
            <button
              type="submit"
              style="background-color: black"
              class="btn btn-lg btn-block"


            >
              <p class="text-white fw-bold fs-3 m-0" routerLink="dashbord">
                LOGIN
              </p>
            </button>
          </div>
        </form>

        <div class="m-3" style="position: relative; left: 15%">
          <p class="text-white fs-5 m-0">
            Don't have an account ?
            <a class="link-danger" routerLink="signup">Sign Up Now </a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div style="height: 41px"></div>
</div>
