<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Menu -->
    <div class="col-md-1" style="z-index: 10;">
      <app-navbar></app-navbar>
    </div>
    <!-- / Menu -->
    <div class="layout-page">
      <div class="content-wrapper">
        <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">
          <div class="row m-0">
            <div class="col-6 m-0">
                <p class="fs-2 fw-bold text-black">Doctors Management</p>
            </div>
            <div class="col-6 text-end m-0">
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCenter">
            <span class="tf-icons bx bx-plus-medical "></span>&nbsp; Add Doctor
            </button>
            </div>
        </div>

             <!-- Modal Add Doctor  -->
             <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title" id="modalCenterTitle"><strong>Add Doctor</strong> </h3>


                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <hr class="my-1" />
                  <div class="modal-body">
                    <div class="row">
                      <div class="col mb-3">

                          <input
                            type="text"
                            id="nameWithTitle"
                            class="form-control"
                            placeholder="CIN"
                          />
                        </div>
                    </div>
                    <div class="row">
                      <div class="col mb-3">

                        <input
                          type="text"
                          id="nameWithTitle"
                          class="form-control"
                          placeholder="Doctor's Name"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col mb-3">

                          <select class="form-select" id="inputGroupSelect01">
                              <option  selected disabled>Sector Name </option>
                              <option value="1">Immunology</option>
                              <option value="2">Radiology</option>
                              <option value="3">Surgery</option>
                            </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col mb-3">

                          <select class="form-select" id="inputGroupSelect01">
                              <option  selected disabled>Hospital Name </option>
                              <option value="1">Charles Nicolle</option>
                              <option value="2">Aziza Othmana</option>
                              <option value="3">Habib Thameur</option>
                            </select>
                      </div>
                    </div>
                    <div class="row g-2">
                      <div class="col mb-0">

                      </div>

                    </div>
                  </div>
                  <div class="modal-footer">

                    <button type="button" class="btn btn-success"><span class="tf-icons bx bx-plus-medical"></span>&nbsp;Add Doctor</button>
                  </div>
                </div>
              </div>
            </div>
              <hr class="my-lg-4" />
          <!-- Striped Rows -->
          <div class="card p-2">
            <p class="card-header fs-4 fw-bold text-black">List Of Doctorss</p>
              <table id="example" class="table table-striped p-3" style="width:100%">
              <thead>
                <tr>
                  <th><strong>CIN</strong></th>

                  <th><strong>Doctor's Name</strong></th>
                  <th><strong>Sector Name</strong></th>
                  <th><strong>Hospital Name</strong></th>
                  <th><strong>Actions</strong></th>
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                <tr>
                  <td><i class="fab fa-angular fa-lg text-danger me-3"></i> 2022201</td>
                  <td>Dr Ali Mansour </td>
                  <td>
                    Immunology
                   </td>
                   <td>
                      Charles Nicolle
                    </td>
                  <td>
                         <a>
                          <button type="button" class="btn btn-icon btn-primary"  data-bs-toggle="modal"
                          data-bs-target="#modalCenteredit">
                            <img src="../assets/img/edit.png"/>
                          </button> </a>
                          <!-- Modal Edit Doctor -->
                          <div class="modal fade" id="modalCenteredit" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h3 class="modal-title" id="modalCentereditTitle"><strong>Edit Doctor</strong> </h3>


                                  <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                                  ></button>
                                </div>
                                <hr class="my-1" />
                                <div class="modal-body">
                                  <div class="row">
                                      <div class="col mb-3">

                                          <input
                                            type="text"
                                            id="nameWithTitle"
                                            class="form-control"
                                            value="2022201"
                                          />
                                        </div>
                                    </div>
                                    <div class="row">
                                      <div class="col mb-3">

                                        <input
                                          type="text"
                                          id="nameWithTitle"
                                          class="form-control"
                                          value="Dr Ali Mansour"
                                        />
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col mb-3">

                                          <select class="form-select" id="inputGroupSelect01">
                                              <option  selected disabled>Immunology </option>
                                              <option value="1">Cardiology</option>
                                              <option value="2">Radiology</option>
                                              <option value="3">Surgery</option>
                                            </select>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col mb-3">

                                          <select class="form-select" id="inputGroupSelect01">
                                              <option  selected disabled>Charles Nicolle</option>
                                              <option value="1">La Rabta</option>
                                              <option value="2">Aziza Othmana</option>
                                              <option value="3">Habib Thameur</option>
                                            </select>
                                      </div>
                                    </div>
                                    <div class="row g-2">
                                      <div class="col mb-0">

                                      </div>

                                  </div>
                                </div>
                                <div class="modal-footer">

                                  <button type="button" class="btn btn-primary"><img src="../assets/img/edit.png"/>  Edit Doctor</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <a  >
                            <button type="button" class="btn btn-icon btn-danger" data-bs-toggle="modal" data-bs-target="#modalCenterdel">
                              <img src="../assets/img/delete.png"/>
                            </button> </a>
                            <!-- Modal Delete Doctor -->
                            <div class="modal fade" id="modalCenterdel" tabindex="-1" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h3 class="modal-title" id="modalCenterdelTitle"><strong>Delete Doctor</strong> </h3>
                                    <button
                                      type="button"
                                      class="btn-close"
                                      data-bs-dismiss="modal"
                                      aria-label="Close"
                                    ></button>
                                  </div>
                                  <hr class="my-1" />
                                  <div class="modal-body">
                                    <div class="row">
                                      <div class="col mb-3">

                                        <p style="font-size:24px;"

                                        >Are you sure you want to delete this doctor ?</p>
                                      </div>
                                    </div>


                                    <div class="row g-2">
                                      <div class="col mb-0">

                                      </div>

                                    </div>
                                  </div>
                                  <div class="modal-footer" style="flex-direction: row;">

                                    <button type="button" class="btn btn-danger"><img src="../assets/img/delete.png"/>
                                       Delete Doctor</button>
                                       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Cancel
                                      </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
