.menu:hover  {
  width: 130px;
  background-color: red;
}

.menu:hover .parag{
  position: relative;
      top: 15%;
      left: 10%;



}

.menu{
  background-color:dimgray;
  width: 50px;
  height: 50px;
   border-radius: 6px;
   overflow: hidden;



}
.parag{
    color: white;
     position: relative;
      top: 15%;
      left: 30%;

   }
