<header>
  <div class="bg-white" style="overflow: hidden">
    <div style="position: relative; left: 35%">
      <div class="fw-bold fs-1 d-flex">
        <div class="p-2 bd-highlight col-example">
          <img src="assets/img/logo.png" alt="" />
        </div>
        <div class="p-2 bd-highlight col-example">
          <p style="color: #534d4d">
            <b style="color: #c50b0b">Blood</b>Management
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
<div style="height: 4px; background-color: #c50b0b"></div>
<div style="background-image: url(assets/img/backgrounds/blood.jpg)">
  <br />
  <div
    class="col-6"
    style="
      border-radius: 0px;
      position: relative;
      left: 28%;
      background-color: black;
    "
  >
    <div class="card" style="background-color: #474646d3; border-radius: 0px">
      <div
        class="card-header fw-bold fs-1 text-white"
        style="position: relative; left: 35%"
      >
        <p class="mb-0">Sign up</p>
      </div>
      <div class="card-body mb-12">
        <form [formGroup]="signupForm"  >
          <div>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="bg-white mb-2" style="height: 3px"></div>
            <!-- name input -->
            <div class="form-outline mb-4">
              <div class="input-group input-group-merge">
                <span class="input-group-text"
                  ><i class="bx bxs-user"></i
                ></span>
                <input
                  type="text"
                  id="form3Example3"
                  class="form-control form-control-lg"
                  placeholder="Your name"
                  formControlName="name"
                />
              </div>
              <div
                *ngIf="
                  signupForm.controls['name'].invalid &&
                  (signupForm.controls['name'].touched ||
                    signupForm.controls['name'].dirty)
                "
              >
                <div
                  *ngIf=" signupForm.controls['name'].errors?.['required']"
                  style="color: red"
                >
                  Name is required
                </div>
              </div>
            </div>

            <!-- email input -->
            <div class="form-outline mb-4">
              <div class="input-group input-group-merge">
                <span class="input-group-text"
                  ><i class="bx bx-envelope"></i
                ></span>
                <input
                  type="email"
                  id="form3Example4"
                  class="form-control form-control-lg"
                  placeholder="Enter your email address"
                  formControlName="email"
                />
              </div>
            </div>
            <div
              *ngIf="
                signupForm.controls['email'].invalid &&
                (signupForm.controls['email'].touched ||
                  signupForm.controls['email'].dirty)
              "
            >
              <div
                *ngIf=" signupForm.controls['email'].errors?.['required']"
                style="color: red"
              >
                email is required
              </div>
              <div
                *ngIf="signupForm.controls['email'].errors?.['email']"
                style="color: red"
              >
                Format email is invalid
              </div>
            </div>

            <!-- password input -->
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <div class="input-group input-group-merge">
                    <span class="input-group-text"
                      ><i class="bx bx-lock"></i
                    ></span>
                    <input
                      type="password"
                      id="form3Example1"
                      class="form-control form-control-lg"
                      placeholder="Enter your password"
                      formControlName="pwd"
                    />
                  </div>
                </div>
                <div
                  *ngIf="
                    signupForm.controls['pwd'].invalid &&
                    (signupForm.controls['pwd'].touched ||
                      signupForm.controls['pwd'].dirty)
                  "
                >
                  <div
                    *ngIf=" signupForm.controls['pwd'].errors?.['required']"
                    style="color: red"
                  >
                    password is required
                  </div>

                  <div
                    *ngIf="signupForm.controls['pwd'].errors?.['minlength']"
                    style="color: red"
                  >
                    password min erreur
                  </div>
                  <div
                    *ngIf="signupForm.controls['pwd'].errors?.['maxlength']"
                    style="color: red"
                  >
                    password max erreur
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <div class="input-group input-group-merge">
                    <span class="input-group-text"
                      ><i class="bx bx-lock"></i
                    ></span>
                    <input
                      type="password"
                      id="form3Example2"
                      class="form-control form-control-lg"
                      placeholder="Check your password"
                      formControlName="cpwd"
                    />
                  </div>
                </div>
              </div>
            </div>
            <!-- Submit button -->

            <div class="row m-0">
              <button
                type="button"
                style="background-color: black"
                class="btn btn-lg btn-block"
                [disabled]="!signupForm.valid"
                (click)="signup()"
              >
                <p class="text-white fw-bold fs-3 m-0" routerLink="">
                  REGISTER
                </p>
              </button>
            </div>
          </div>
        </form>
        <div class="m-3" style="position: relative; left: 13%">
          <p class="text-white fs-5 m-0">
            you already have an account ?
            <a class="link-danger" routerLink="">Sign In Now </a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div style="height: 41px"></div>
</div>
